#btnSend {
   -fx-background-color:
           linear-gradient(#ffbf34, #00ff43),
           radial-gradient(center 50% -40%, radius 200%, #35ee8b 45%, #00c89f 50%);
       -fx-background-radius: 6, 5;
       -fx-background-insets: 0, 1;
       -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
       -fx-text-fill: #395306;

}


#menuBar {
-fx-font: 14px "Cursive";
-fx-background-color: linear-gradient(to left, #6FB09E, #935431);

}

 #clientList {
 /* -fx-background-size: cover;
 -fx-background-repeat: no-repeat;*/
 -fx-background-color: #ffe4b5;
 /*-fx-font: 16px "Cursive"*/;
 }

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#labelThisClient {
    -fx-text-fill: #03C03C;
}

#labelBlackListClient {
    -fx-text-fill: #9B2D30;
}

#labelNormClient {
    -fx-text-fill: #000000;
}


#textArea {
 /*-fx-background-image: url(img/back.jpg);*/
 -fx-background-size: cover;
 -fx-background-repeat: no-repeat;
 -fx-background-color: #e2be9a;
 -fx-font: 16px "Cursive";
 }

#textArea .scroll-pane {
-fx-background-color: transparent;
}

#textArea .scroll-pane .viewport {
-fx-background-color: transparent;
}

#textArea .scroll-pane .content {
-fx-background-color: transparent;
}

#profileMenu {

}